body{
	position: relative;
	background-color: #000;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.tela-foto{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 35%;
	height: 100%;
}
.foto-perfil{
	position: absolute;
	height: 45%;
	width: 45%;
	border-radius: 40%;
	margin: 10%;
}

.titulo{
	width: 76%;
	color: #fff;
	margin-bottom: 3%;
	text-align: left;
	font-size: 550%;
	font-family: 'Satisfy', cursive;
	font-family: 'Germania One', cursive;
}
.corpo{
	display: flex;
	justify-content: flex-start;
	align-content: center;
	flex-wrap: wrap;
	width: 65%;
	height: 100%;
}
.textos{
	display: flex;
	justify-content: flex-start;
	align-content: center;
	flex-wrap: wrap;
	width: 65%;
	height: 80%;
	padding-left: 10%;
}
.descrição{
	width: 76%;
	color: #fff;
	text-align: left;
	font-size: 20px;
	margin: 0px;
}
.sobre{
	width: 75%;
	color: #fff;
	text-align: left;
	font-size: 20px;
	margin: 1% 1% 1% 0;
}
.links{
	width: 65%;
	padding-left: 10%;
}
.lista{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 0;
}
.face-logo{
	height: 3em;
	width: 3em;
	margin-right: 7px;
}
.insta-logo{
	height: 3em;
	width: 3em;
	margin-left: 7px;
	margin-right: 7px;
}
.twitter-logo{
	height: 3em;
	width: 3em;
	margin-left: 7px;
	margin-right: 7px;
}
.git-logo{
	height: 3em;
	width: 3em;
	margin-left: 7px;
	margin-right: 7px;
}
.codepen-logo{
	height: 3em;
	width: 3em;
	margin-left: 7px;
	margin-right: 7px;
}